body {
	color: #444;
	background-color: #ddd;
	font-size: 0.9em;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

canvas, .editor {
	width: 512px;
}

canvas, .editor, .camera-settings, .light-settings {
	border: 3px solid #666;
	background-color: whitesmoke;
}

canvas {
	float: left;
	margin-left: 50px;
}

button {
	font-size: 0.7em;
  padding: 2px 16px;
  margin: 4px 10 0 0px;
	cursor: pointer;
	background-color: #ddd;
  color: #444;
}

button:hover {
	background-color: #999;
  color: whitesmoke;
}

.editor {
	float: right;
	margin-right: 50px;
}

.editor label {
	display: block;
	font-weight: bold;
	padding: 2px 0 2px 0;
	font-size: 1.0em;
	text-align: center;
	color: whitesmoke;
	background-color: #666;
	border-bottom: 2px solid white;
}

.editor .options {
	padding: 0 0 4px;
	margin-bottom: 8px;
}

.editor .options .option {
	margin: 8px 0 0 10px;
}

.editor .options .option label {
	font-size: 1.0em;
	padding: 0;
	text-align: left;
	color: #444;
	background-color: whitesmoke;
	border-bottom: none;
}

.editor .options .option div {
	line-height: 0;
}


.editor .options .option label::after {
	content: ':';
}

.editor .options .option input[type=range] {
	width: 450px;
	position: relative;
  top: 3px;
}

.editor .options .option .shape span {
	font-size: 0.80em;
	padding-right: 8px;
}

.editor .options .option span.color {
	padding-right: 15px;
}

.editor .options .option span.color input[type=color] {
	width: 80px;
}

.editor .options .option div.color {
	padding-top: 4px;
}

.editor .options .option div.color input[type=range] {
	width: 400px;
}

div.clear {
	clear: both;
}