body {
	color: #444;
	background-color: #ddd;
	font-size: 0.9em;
}

h1 {
	text-align: center;
}

canvas, .editor {
	width: 512px;
	/*height: 512px;*/
	border: 3px solid #666;
	background-color: whitesmoke;
}

canvas {
	float: left;
	margin-left: 50px;
}

.editor {
	float: right;
	margin-right: 50px;
}

.editor label {
	display: block;
	font-weight: bold;
	padding: 2px 0 2px 0;
	font-size: 1.0em;
	text-align: center;
	color: whitesmoke;
	background-color: #666;
	border-bottom: 2px solid white;
}

.editor .options {
	padding: 4px 0 8px;
}

.editor .options:not(:last-child) {
	height: 122px;
	border-bottom: 2px solid #666;
}

.editor .options .option {
	margin: 8px 0 0 10px;
}

.editor .options .option.hidden {
	visibility: hidden;
}

.editor .options #existingShapes .shape {
	margin: 0 -4px;
}

.editor .options #removeShapes {
	margin: 5px 0px 0 10px;
}

.editor .options #removeShapes button {
	font-size: 0.7em;
  padding: 2px 16px;
  margin: 0 2px 0 0;
}

.editor .options .option label {
	font-size: 1.0em;
	padding: 0;
	text-align: left;
	color: #444;
	background-color: whitesmoke;
	border-bottom: none;
}

.editor .options .option div {
	line-height: 0;
}


.editor .options .option label::after {
	content: ':';
}

.editor .options .option input[type=range] {
	width: 450px;
	position: relative;
  top: 3px;
}

.editor .options .option .shape span {
	font-size: 0.80em;
	padding-right: 8px;
}

.editor .options .option button {
  font-size: 0.8em;
  padding: 4px 16px;
  margin: 4px 10 0 0px;
	cursor: pointer;
	background-color: #ddd;
  color: #444;
}

.editor .options .option button:hover {
	background-color: #999;
  color: whitesmoke;
}